
.sidebar {
    width: 240px;
    min-height: 100vh;
    background-color: #1f2937;
    color: white;
    padding: 24px 16px;

    display: flex;
    flex-direction: column;
}

.sidebar-logout {
    margin-top: auto;

    display: flex;
    align-items: center;
    gap: 12px;

    width: 100%;
    padding: 12px 16px;

    border: none;
    border-radius: 8px;

    background: transparent;
    color: white;

    font-size: 16px;
    font-family: inherit;
    text-align: left;

    cursor: pointer;
}

.sidebar-logout:hover {
    background-color: #374151;
}

.sidebar-logout svg {
    flex-shrink: 0;
}

.sidebar-logo {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-left:15px;

    margin-bottom: 32px;
    border-bottom: 1px solid #374151;
    padding-bottom: 20px;
}

.sidebar-logo h2 {
    margin: 0;
    font-size: 20px;
}

.sidebar-navigation {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.sidebar-navigation a {
    padding: 12px 16px;
    color: white;
    text-decoration: none;
    border-radius: 8px;
}

.sidebar-navigation a:hover {
    background-color: #374151;
}

.sidebar-navigation a.active {
    background-color: #4b5563;
}


.sidebar-navigation a {
    display: flex;
    align-items: center;
    gap: 12px;

    padding: 12px 16px;

    color: white;
    text-decoration: none;

    border-radius: 8px;
}

.sidebar-navigation a:hover {
    background-color: #374151;
}

.sidebar-navigation a.active {
    background-color: #4b5563;
}

.sidebar-navigation svg {
    flex-shrink: 0;
}